<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Send Dice Results to Encounter Plus</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Input the Server URL starting with &quot;http://&quot; or &quot;https://&quot;. If your DM only gave you an address that looks like &quot;http://client.encounter.plus?remoteHost=192.168.1.123:8080&quot;, put what comes after &quot;remoteHost=&quot;, like this: &quot;http://192.168.123:8080&quot;.</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>remoteHost</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Remote Host</string>
			<key>URL</key>
			<string>Alphabet</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Clear data</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Delete all cache and cookies and logout at next launch</string>
			<key>Key</key>
			<string>clearAllData</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
